$fromAnotherColor: rgba(204, 238, 255, 1)
$fromUserColor: rgba(204, 255, 245, 1)
.message
  width: 80%
  margin: 20px 0
  padding: 10px
  border-radius: 2px
  position: relative

.from-another
  background-color: $fromAnotherColor
  margin-left: 20px
  margin-right: auto

  &:after
    content: ""
    display: block
    position: absolute
    bottom: 0
    left: 0
    margin-left: -10px
    width: 0
    border-width: 15px 15px 0 0
    border-style: solid
    border-color: transparent $fromAnotherColor

.message.from-user
    background-color: $fromUserColor
    margin-left: auto
    margin-right: 20px

    &:after
      content: ""
      display: block
      position: absolute
      bottom: 0
      right: 0
      margin-right: -10px
      width: 0
      border-width: 0 15px 15px 0
      border-style: solid
      border-color: transparent transparent $fromUserColor
