$primaryColor: #691A99
$accentColor: #68EFAD
$primaryColorDark: rgba(0, 0, 0, .87)
$hintColorDark: rgba(0, 0, 0, .38)
$dividerColorDark: rgba(0, 0, 0, .12)
$fromAnotherColor: #F5F5F5
$fromUserColor: #C5B0EB
$primaryFont: Helvetica Neue, Helvetica

$chatChildrenWidth: 90%

$breakPhone: 480px
