.navbar
  display: flex
  position: relative
  flex-direction: row
  vertical-align: center
  background-color: rgba(100, 50, 50, 1)
  border: 1px solid blue
  z-index: 1000

  .server-title
    display: flex
    align-items: center

  #toggle-config
    margin: 4px
    margin-left: auto
    border-radius: 4px
