@import "../../styles/variables.sass"

.settings-button
  position: absolute
  padding: 10px
  top: 0
  right: 0
  z-index: 1000
  margin-left: auto
  cursor: pointer
  border-radius: 100%
  background-color: white
  
  &.configuration-open
    right: $configurationSize
  
  svg
    transform-origin: center
    transition: transform .6s
    fill: $primaryColorDark
  
    &:hover
      transform: rotateZ(90deg)