#root
  height: 100%

.layout
  display: flex
  flex-direction: column
  height: 100%

.navbar
  position: absolute
  height: 35px
  top: 0
  right: 0
  left: 0

.footer
  height: 25px
  bottom: 0
  left: 0
  right: 0

.content
  padding-top: 35px
  display: flex
  height: 100%

  .menu
    order: 1
    width: 0%

  .chat
    order: 2
    width: 50%

  .configuration
    order: 3
    width: 50%
