#root
  height: 100%

.layout
  display: flex
  flex-direction: column
  height: 100%
  overflow: hidden

.navbar
  position: absolute
  height: 35px
  top: 0
  right: 0
  left: 0

.footer
  height: 25px
  bottom: 0
  left: 0
  right: 0

.content
  display: flex
  flex-direction: row
  width: 100%
  height: 100%

  .main-content
    display: inline-flex
    flex-direction: row
    height: 100%
    width: 100%

    .menu
      order: 1
      flex: 0 1 30%

    .chat
      order: 2
      flex: 0 1 70%
      //min-width: 450px

  .secondary-content
    transition: width .3s
    &.visible
      width: 200px
    &.hidden
      width: 0

    .configuration
      display: inline-flex
      height: 100%
      width: 200px
