.date-separator
  display: flex
  align-items: center
  padding: 20px 0
  background-color: white
  
  *
    opacity: 0.3
  
  hr
    width: 40%
    border: none
    box-sizing: border-box
    height: 1px
    background-color: black